<launch>

    <arg name="robot_name" default="kezbot"/>
    <param name="robot_name" type="str" value="kezbot" />

    <node pkg="rosserial_python" type="serial_node.py" name="$(arg robot_name)_bringup">
        <param name="port" value="/dev/kezbot_arduino" />
        <param name="baud" value="115200" />
        <remap from="/pose2d" to="/$(arg robot_name)/pose2d" />
        <remap from="/cmd_vel" to="/$(arg robot_name)/cmd_vel" />
        <remap from="/pose" to="/$(arg robot_name)/pose" />
        <remap from="/speed" to="/$(arg robot_name)/speed" />
    </node>

    <!-- Transform Broadcaster -->
<!--    <node pkg="kezbot_v2" type="kezbot_v2_tf_broadcaster"
        args="$(arg robot_name)" name="$(arg robot_name)_tf_broadcaster" />-->

    <node pkg="kezbot_v2" type="kezbot_v2_odom_publisher"
        args="$(arg robot_name)" name="$(arg robot_name)_odom_publisher" />

    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link_kezbot"
        args="0.0 0.0 0.0 0.0 0.0 0.0 kezbot/base_footprint kezbot/base_link 200" />


</launch>
