<launch>

    <include file="$(find kezbot_v2)/launch/nav_build_map.launch">
        <arg name="scan_topic" value="kezbot/base_scan" />
        <arg name="odom_frame" value="odom" />
        <arg name="base_frame" value="base_link" />
        <arg name="map_frame" value="map" />
    </include>

</launch>
