<launch>

    <arg name="world_file" value="$(find kezbot_v2)/worlds/stage/one_robot.world" />

    <param name="/use_sim_time" value="true" />

    <node ns="kezbot" pkg="stage_ros" type="stageros" name="stageros"
        args="$(arg world_file)">
        <param name="base_watchdog_timeout" value="0.5"/>
        <remap from="odom" to="odom"/>
        <remap from="base_pose_ground_truth" to="base_pose_ground_truth"/>
        <remap from="base_scan" to="base_scan"/>
    </node>

</launch>
