<launch>

    <arg name="robot_name" default="kezbot" />
    <arg name="world_file" default="$(find kezbot_v2)/worlds/stage/one_robot.world" />
    
    <!-- Stage Simulator -->
    <node
        name="stage_ros"
        pkg="stage_ros"
        type="stageros"
        output="screen"
        args="$(arg world_file)">
        
        <remap from="/cmd_vel" to="$(arg robot_name)/cmd_vel" />
        <remap from="/odom" to="$(arg robot_name)/odom" />
        <remap from="/base_scan" to="$(arg robot_name)/base_scan" />
        <remap from="/camera_info" to="$(arg robot_name)/camera_info" />
        <remap from="/image" to="$(arg robot_name)/image" />
        <remap from="/base_pose_ground_truth" to="$(arg robot_name)/odom" />


    </node>

</launch>
